<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bank</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addnewAccountServlet</display-name>
    <servlet-name>addnewAccountServlet</servlet-name>
    <servlet-class>com.servlets.addnewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addnewAccountServlet</servlet-name>
    <url-pattern>/addnewAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFaqQuestion</display-name>
    <servlet-name>addFaqQuestion</servlet-name>
    <servlet-class>com.servlets.addFaqQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFaqQuestion</servlet-name>
    <url-pattern>/addFaqQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transactionServlet</display-name>
    <servlet-name>transactionServlet</servlet-name>
    <servlet-class>com.servlets.transactionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactionServlet</servlet-name>
    <url-pattern>/transactionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>statementServlet</display-name>
    <servlet-name>statementServlet</servlet-name>
    <servlet-class>com.servlets.statementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>statementServlet</servlet-name>
    <url-pattern>/statementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferServlet</display-name>
    <servlet-name>TransferServlet</servlet-name>
    <servlet-class>com.servlets.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferServlet</servlet-name>
    <url-pattern>/TransferServlet</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/HRDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>checkBookServlet</display-name>
    <servlet-name>checkBookServlet</servlet-name>
    <servlet-class>com.servlets.checkBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkBookServlet</servlet-name>
    <url-pattern>/checkBookServlet</url-pattern>
  </servlet-mapping>
</web-app>